{% extends "flatpages/default.html" %}
{% load static %}
{% load i18n %}


{% block title %}
     Booking
{% endblock title %}

{% block content %}
    <h2>Бронирование </h2>
    <p>Статус бронирования: {{ booking.booking_status }}</p>
    <p>Номер рейса: {{ booking.flight_number }}</p>
    <br>
    <p>Аэропорт отправления: {{ booking.departure_airport }}</p>
    <p>Терминал отправления: {{ booking.departure_terminal }}</p>
    <p>Дата и время отправления: {{ booking.departure_datetime }}</p>
    <br>
    <p>Аэропорт прибытия: {{ booking.arrival_airport }}</p>
    <p>Терминал прибытия: {{ booking.arrival_terminal }}</p>
    <p>Дата и время прибытия: {{ booking.arrival_datetime }}</p>
    <br>

    <p>Аэропорт транзита: {{ booking.transit_airport }}</p>
    <br>
    <p>Email: {{ booking.email }}</p>
    <p>Телефон: {{ booking.phone }}</p>
    <p>Telegram: {{ booking.telegram }}</p>
    <p>Дополнительная информация: {{ booking.additional_info }}</p>
    <br>
    <p>Количество пассажиров: {{ booking.passenger_number }}</p>
    <p>Пассажиры:
        {% for passenger in booking.passenger.all %}
            <p>{{ passenger }}, {{ passenger.age }} </p>
        {% endfor %}
    <p>Итоговая стоимость: {{ booking.total_price }}</p>
    <br>
    <p>Время создания: {{ booking.date_created }}</p>
    <br>
    {% if booking.booking_status == 'unpaid' %}
        {% if not booking.total_price == "By request" %}
        <a style="text-decoration: none" href="{% url 'booking_pay' booking.pk %}">
            <input type="button" value="Оплатить" />
        </a>
        {% endif %}
        <a style="text-decoration: none" href="{% url 'booking_confirm' booking.pk %}">
            <input type="button" value="Подтвердить бронирование" />
        </a>
    {% endif %}
    {% if not booking.booking_status == 'complited' %}
        <a style="text-decoration: none" href="{% url 'booking_cancel' booking.pk %}">
            <input type="button" value="Отменить бронирование" />
        </a>
    {% endif %}
    <hr>
{% endblock content %}