{% extends "booking/default_booking.html" %}
{% load static %}
{% load i18n %}


{% block head %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/default_booking.css' %}">
    <style>
        body {
            background: url('{% static "images/booking_page_2_3.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .main {
            margin-top: 4%;
        }

        .btns {
            margin-top: 5%;
        }

        .form-group {
            margin-bottom: 3.5vh;
        }
    </style>
{% endblock head %}


{% block content %}
    <div class="booking_form">
        <form action="" method="post">
            {% csrf_token %}
            {{ wizard.management_form }}

            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    <div class="form-row">
                        <div class="form-group">
                            <label for="{{ form.departure_terminal.id_for_label }}" class="form-label"></label>
                            <div class="form-input">
                                {{ form.departure_terminal }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.arrival_terminal.id_for_label }}" class="form-label"></label>
                            <div class="form-input">
                                {{ form.arrival_terminal }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-form">
                            {{ form.flight_number }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-form">
                            {{ form.departure_datetime }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-form">
                            {{ form.arrival_datetime }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="form-row">
                    <div class="form-group">
                        <label for="{{ wizard.form.departure_terminal.id_for_label }}" class="form-label"></label>
                        <div class="form-input">
                            {{ wizard.form.departure_terminal }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ wizard.form.arrival_terminal.id_for_label }}" class="form-label"></label>
                        <div class="form-input">
                            {{ wizard.form.arrival_terminal }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-form">
                        {{ wizard.form.flight_number }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-form">
                        {{ wizard.form.departure_datetime }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-form">
                        {{ wizard.form.arrival_datetime }}
                    </div>
                </div>
            {% endif %}

            <table style="display: none">
                {{ view.formset.empty_form }}
            </table>

{% comment %}
        {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% translate "first step" %}</button>
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% translate "prev step" %}</button>
        {% endif %}
        <a style="text-decoration: none" href="{% url 'passenger_create' %}" target="_blank">
            <input type="button" value="Новый пассажир" />
        </a>
        <input type="submit" value="{% translate 'submit' %}"/>
    </form>
</div>
{% endcomment %}
            <table>
                {{ view.formset }}
            </table>

            <div class="btns">
                <button class="btn previous icon_previous" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">
                    Назад</button>
                <button type="submit" class="btn next icon_next">Далее</button></div>
        </form>
    </div>
{% endblock %}


{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{{ form.media }}
{{ wizard.form.media }}

<script>
(function($) {
    $('#add-form').click(function() {
        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
        newTable.find(':input').each(function() {
            for (attr of ['name'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        })
        newTable.insertBefore($(this))
        $('#id_inline_test_models-TOTAL_FORMS').val(
            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
        )
        newTable.slideDown()
    })
})($)

document.addEventListener('DOMContentLoaded', function() {
            flatpickr('.flatpickr', {
                enableTime: true,
                dateFormat: "d.m.Y H:i",
                time_24hr: true
            });
});
</script>
{% endblock %}