{% extends "flatpages/default.html" %}
{% load static %}
{% load i18n %}


{% block head %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/default_booking.css' %}">
    <style>
        body {
            background: url('{% static "images/booking_page_2_3.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .main {
            margin-top: 7%;
        }

        .btns {
            margin-top: 5%;
        }

        .form-group {
            margin-bottom: 30px;
        }
    </style>
{% endblock head %}

{% block content %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    <a style="text-decoration: none" href="{% url 'chat_send'%}">
            <input type="button" value="Отправить" />
        </a>
    <hr>
{% endblock content %}

