/.env
/venv/
.idea/
/mpg/main_app/migrations/__pycache__/
/mpg/booking/migrations/__pycache__/
/mpg/airport/migrations/__pycache__/
/mpg/main_app/__pycache__/
/mpg/booking/__pycache__/
/mpg/airport/__pycache__/
/mpg/mpg/__pycache__/
