/* Font Import */
@font-face {
    font-family: 'TeXGyreHeros';
    src: url('../fonts/TeXGyreHeros-Regular.woff');
}

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'TeXGyreHeros', sans-serif;
}

/* Navigation Menu Styles */
nav {
    position: fixed;
    width: 80px;
    height: 100%;
    background-color: #D8CCC0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu li {
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center; 
}

.menu li:first-child {
    position: fixed;
    top: 55px;
}

.menu a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu img {
    display: block;
}

/* Header Styles */
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    background-color: #E6DFD7;
    display: flex;
    justify-content: center; 
}

.logo img {
    height: 48px;
    width: 275px;
    justify-content: center; 
}

.sub_titles {
    width: 100%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    font-family: "Raleway", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #2C3135;
}

#sub_title_book {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#sub_title_book {
    background-color: rgba(230, 223, 215, 1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}


/* Main Content Styles */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Button Styles */
.btns {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.btn {
    font-size: 16px;
    border: 2px solid;
    border-color: transparent;
    border-radius: 3px;
    padding: 17px 61px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.previous {
    background-color: #E6DFD7;
    margin-right: 10px;
    color: #2C3135;
    box-shadow: 0px 0px 3.4px rgba(44, 49, 53, 0.1);
}

.next {
    background-color: #2C3135;
    margin-left: 10px;
    color: #F4F3EF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.icon_previous:before {
    content: url('../icons/previous.svg');
    padding-right: 20px;
}

.icon_next:after {
    content: url('../icons/next.svg');
    padding-left: 20px;
}

/* Airport Styles */

.form-group {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

/* Form Row Styles */
.form-row {
   display: flex;
   justify-content: space-between;
   padding-right: 20px;
   width: 100%;
}

/* Full Width Styles */
.full-width {
   width: 830px;
}

/* Form Label Styles */
.form-label {
   font-size: 18px;
   color: #2C3135;
   margin-bottom: 5px;
}

/* Select Input Styles */
.form-input-full-width {
   width: 100%;
}

.form-input {
   width: 405px;
}

/* Select Element Styles */
.form-input select {
   width: 100%;
   padding: 10px;
}

.form-input-full-width select {
   width: 100%;
   padding: 10px;
}

/* Input Styles */
.input-form input[type="text"],.input-form input[type='datetime-local'] {
    font-size: 14px;
    color: #2C3135;
    width: 810px;
    height: 40px;
    background-color: #EFEFEF;
    border: 1px solid #2C3135;
    border-radius: 3px;
    padding-left: 20px;
}

input[type='datetime-local']::pattern {
    font-size: 14px;
    color: #A0A0A0;
    line-height: 38px;
}

.input-form-contact input[type="text"],.input-form-contact input[type='email'] {
    font-size: 14px;
    color: #2C3135;
    width: 340px;
    height: 40px;
    background-color: #EFEFEF;
    border: 1px solid #2C3135;
    border-radius: 3px;
    padding-left: 20px;
}

::placeholder {
    font-size: 14px;
    color: #A0A0A0;
    line-height: 38px;
}


/* Select Input Autocomplete Light Widget */
span.select2-container--default span.select2-selection {
    background-color: var(--body-bg, #EFEFEF) !important;
    height: 40px !important;
    border: 1px solid #2C3135 !important;
    border-radius: 3px !important;
}

span.select2-container--default span.select2-selection--single span.select2-selection__rendered {
    line-height: 38px !important;
    font-family: 'TeXGyreHeros', sans-serif !important;
    font-size: 14px !important;
    color: #A0A0A0;
}

span.select2-selection__rendered {
    color: #2C3135 !important;
}

span.select2-container--default {
    --select2-highlighted-bg: #E6DFD7;
    --select2-highlighted-fg: #2C3135;
    font-family: 'TeXGyreHeros', sans-serif !important;
    font-size: 14px !important;
    color: #2C3135;
}

/* Date Time Calender Style */
.flatpickr-calendar {
    font-family: 'TeXGyreHeros', sans-serif !important;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    font-family: 'TeXGyreHeros', sans-serif !important;
}

/* Total Stirng in page 3*/
.total-info {
    font-size: 18px;
    color: #2C3135;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 880px;
    margin-bottom: 3%;
}

.total {
    margin-right: 479px;
}

.passenger-ages {
    display: flex;
    font-size: 16px !important;
    flex-direction: row;
    gap: 15px;
}

.age {
   margin: 0;
   padding: 0;
}

.price {
    margin-left: 107px;
}

.new-passenger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.new-passenger a input[type='button'] {
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    color: #2C3135;
}

.form-row-passenger  {
   display: flex;
   padding-right: 20px;
   width: 100%;
}

.law-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 880px;
    color: #2C3135;
    padding-bottom: 17px;
}

.info-text {
    text-align: justify;
}

.law-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}
.law-text label {
    font-size: 10px;
}