/* Font Import */
@font-face {
    font-family: 'TeXGyreHeros';
    src: url('../fonts/TeXGyreHeros-Regular.woff');
}

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'TeXGyreHeros', sans-serif;
}

/* Navigation Menu Styles */
nav {
    position: fixed;
    width: 6%;
    height: 100%;
    background-color: #D8CCC0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    z-index: 2;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu li {
    padding-bottom: 4vh;
    width: 100%;
    display: flex;
    justify-content: center; 
}

.menu li:first-child {
    position: fixed;
    top: 9vh;
}

.menu a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu img {
    display: block;
    width: 100%;
    max-width: 35px;
    max-height: 35px;
}

/* Header Styles */
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo a {
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 100%;
    background-color: #E6DFD7;
    display: flex;
    justify-content: center; 
}

.logo a img {
    height: 5.3vh;
    width: 33%;
    justify-content: center; 
}

.sub_titles,
.sub_titles a {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Raleway", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #2C3135;
    text-decoration: none;
}

#sub_title_book {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.sub {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

a.sub-center {
    width: 100%;
    max-width: 261px;
}

.sub-left,
.sub-right {
    width: 100%;
}

.deactive {
    background-color: rgba(216, 204, 192, 1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

#sub_title_book,
.active {
    background-color: rgba(230, 223, 215, 1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}


/* BOOKING
Main Content Styles */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Button Styles */
.btns {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: no-wrap;
}

.btn {
    font-size: 16px;
    border: 2px solid;
    border-color: transparent;
    border-radius: 3px;
    padding: 2vh 8%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.previous {
    background-color: #E6DFD7;
    margin-right: 1%;
    color: #2C3135;
    box-shadow: 0px 0px 3.4px rgba(44, 49, 53, 0.1);
}

.next {
    background-color: #2C3135;
    margin-left: 1%;
    color: #F4F3EF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.icon_previous:before {
    content: url('../icons/previous.svg');
    padding-right: 20%;
}

.icon_next:after {
    content: url('../icons/next.svg');
    padding-left: 20%;
}

/* Airport Styles */

.form-group {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

/* Form Row Styles */
.form-row {
   display: flex;
   justify-content: space-between;
   padding-right: 2%;
   width: 100%;
   flex-wrap: wrap;
}

/* Full Width Styles */
.full-width {
   width: 100%;
   min-width: 830px;
}

/* Form Label Styles */
.form-label {
   font-size: 18px;
   color: #2C3135;
   margin-bottom: 5px;
}

/* Select Input Styles */
.form-input-full-width {
   width: 100%;
}

.form-input {
    width: 100%;
    min-width: 405px;
}

/* Select Element Styles */
.form-input select,
.form-input-full-width select {
   width: 100%;
   padding: 10px;
}


/* Input Styles */
.input-form input[type="text"],
.input-form input[type='datetime-local'] {
    font-size: 14px;
    color: #2C3135;
    width: 810px;
    height: 4.5vh;
    background-color: #EFEFEF;
    border: 1px solid #2C3135;
    border-radius: 3px;
    padding-left: 20px;
}

input[type='datetime-local']::pattern {
    font-size: 14px;
    color: #A0A0A0;
    line-height: 38px;
}

.input-form-contact input[type="text"],
.input-form-contact input[type='email'] {
    font-size: 14px;
    color: #2C3135;
    width: 100%;
    min-width: 340px;
    height: 40px;
    background-color: #EFEFEF;
    border: 1px solid #2C3135;
    border-radius: 3px;
    padding-left: 20px;
}

::placeholder {
    font-size: 14px;
    color: #A0A0A0;
    line-height: 38px;
}


/* Select Input Autocomplete Light Widget */
span.select2-container--default span.select2-selection {
    background-color: var(--body-bg, #EFEFEF) !important;
    height: 5vh !important;
    border: 1px solid #2C3135 !important;
    border-radius: 3px !important;
}

span.select2-container--default span.select2-selection--single span.select2-selection__rendered {
    line-height: 4.5vh !important;
    font-family: 'TeXGyreHeros', sans-serif !important;
    font-size: 14px !important;
    color: #A0A0A0;
}

span.select2-selection__rendered {
    color: #2C3135 !important;
}

span.select2-container--default {
    --select2-highlighted-bg: #E6DFD7;
    --select2-highlighted-fg: #2C3135;
    font-family: 'TeXGyreHeros', sans-serif !important;
    font-size: 14px !important;
    color: #2C3135;
}

/* Date Time Calender Style */
.flatpickr-calendar {
    font-family: 'TeXGyreHeros', sans-serif !important;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    font-family: 'TeXGyreHeros', sans-serif !important;
}

/* Total Stirng in page 3*/
.total-info {
    font-size: 18px;
    color: #2C3135;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-width: 890px;
    margin-bottom: 3%;
}

.total {
    margin-right: 42%;
}

.passenger-ages {
    display: flex;
    font-size: 16px !important;
    flex-direction: row;
    gap: 15px;
}

.age {
   margin: 0;
   padding: 0;
}

.price {
    margin-left: 8.5%;
}

.new-passenger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 1.6%;
}

.new-passenger a input[type='button'] {
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    color: #2C3135;
}

.form-row-passenger  {
   display: flex;
   padding-right: 1.6%;
   width: 100%;
}

.law-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 880px;
    color: #2C3135;
}

.info-text {
    text-align: justify;
    padding-bottom: 17px;
}

.law-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}

.law-text label {
    font-size: 10px;
}



/* ACCOUNT
 Style */

.account-row {
    margin-top: 5.5%;
}

.avatar {
    margin-right: 66px;
}

.avatar img {
    border: 1px solid transparent;
    border-radius: 100px;
    max-width: 145px;
    max-height: 145px;
    width: 100%;
    margin-bottom: 24px;
}

a.btn-avatar {
    text-decoration: none;
    display: flex;
    font-size: 16px;
    border: 2px solid;
    border-color: transparent;
    border-radius: 3px;
    background-color: #E6DFD7;
    cursor: pointer;
    color: #2C3135;
    padding: 16px 20px;
}

.account-row {
    display: flex;
    flex-direction: row;
}

.account-general-info {
    text-align: justify;
    font-size: 20px;
    color: #2C3135;
    margin-left: 66px;
}

.account-name {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.account-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0;
}

.account-info-row {
    display: flex;
    justify-content: space-between;
    height: 56px;

}

.account-info-field {
    width: 105px;
    font-size: 14px;
    display: inline-block;
    line-height: 56px;
}

.account-info-field-private {
    width: 105px;
    font-size: 14px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.account-info-data {
    flex-basis: 70%;
    font-size: 20px;
    text-align: left;
    line-height: 56px;
}

.btns-account {
    align-self: flex-start;
    margin-left: 246px;
}

.btns-account a {
    padding: 18.5px 81.3px;
    margin-top: 50px;
}

/* PASSENGER LIST */

#passenger-list-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 50px;
    margin-left: 246px;
}

.field-passenger {
    align-self: flex-start;
    font-size: 14px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.passenger-detail {
    display: flex;
    flex-direction: row;
}

.passenger-name {
    width: 575px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
    border-radius: 3px;
    border: 1px solid #2C3135;
    margin-bottom: 22px;
    margin-right: 20px;
}

.passenger-name a {
    color:  #2C3135;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.btn-new-passenger {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
}

.btn-new-passenger a input[type='button'] {
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    color: #2C3135;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* BOOKING LIST TABLE */

.booking-list-table {
    border: 1px solid #2C3135;
    border-collapse: collapse;
    width: 1000px;
    margin-bottom: 25px;
}

.booking-list-table th,
.booking-list-table td {
   border: 1px solid #2C3135;
   border-collapse: collapse;
}

.table-titles {
    font-size: 12px;
}

.booking-pk-cell {
    text-align: center;
    vertical-align: middle;
    width: 151px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.booking-pk,
.booking-status {
    background-color: #F4F3EF;
    border: 1px solid #F4F3EF;
    border-radius: 3px;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.booking-pk {
    width: 96px;
    height: 35px;
}

.booking-status {
    width: 100px;
    height: 25px;
    line-height: 25px;
}

.booking-passenger {
    font-size: 14px;
    text-align: justify;
    width: 160px;
    padding-left: 30px;
}

.booking-airport {
    text-align: center;
    font-size: 12px;
    width: 175px;
}

.booking-airport-city {
    font-weight: bold;
}

.booking-service {
    text-align: left;
    font-size: 12px;
    margin-left: 30px;
}

td.booking-date-created {
    text-align: center;
    font-size: 12px;
    width: 76px;
}

.detail-booking {
    font-size: 10px;
    margin-left: 10px;
}

.booking-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* MAIN main_header */
.header,
.cover {
    background-color: #8C9DA5;
}

.logo-main a {
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 40%;
    margin-top: 7%;
}

.btns-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
    margin-left: 30%;
}

.btns-main a {
    text-decoration: none;
    width: 235px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 1px 4px #2C3135;
    font-family: 'TeXGyreHeros', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-black {
    background-color: #2C3135;
    color: #F4F3EF;
    margin-right: 10px;
}

.btn-light {
    background-color: #D8CCC0;
    color: #323232;
    margin-left: 10px;
}

/* MAIN */

.visually-hidden {
    position: absolute;
    margin: -1px;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
}

/* MAIN COVER */
.cover {
    position: relative;
}

.heading-cover {
    margin-top: 8vh;
    margin-bottom: 6vh;
}

.heading-cover,
.cover-items {
    font-family: "Raleway", sans-serif;
    color: #F4F3EF;
}

.first-heading {
    display: flex;
    justify-content: flex-start;
    margin-left: 11.5%;
    font-size: 96px;
}

.second-heading {
    display: flex;
    justify-content: flex-end;
    margin-right: 25%;
    font-size: 36px;
}

.img-cover {
    width: 100%;
    margin-bottom: 6vh;
}

.img-cover img {
    width: 100%;
    min-width: 1200px;
}

.cover-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 6vh;
    margin-right: 3%;
}

.cover-item-caps {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.cover-item {
    text-align: justify;
    margin-right: 7%;
}

/* MAIN AIRPORT */

.main-airport {
    width: 100%;
    position: relative;
    background-color: #F4F3EF;
}

.down-arrow {
    position: absolute;
    top: -70px;
    margin-left: 17%;
    z-index: 10;
}

.down-arrow img {
    width: 100%;
    height: auto;
}

.main-airport-svg-airport {
    display: flex;
    justify-content: flex-end;
    margin-right: 8.5%;
    margin-bottom: 5%;
}

.main-airport-images {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 12%;
}

.main-airport-plane img {
    width: 405px;
    height: 403px;
    position: absolute;
    z-index: 1;
}

.main-airport-woman img {
    width: 405px;
    height: 390px;
    position: absolute;
    top: 14vh;
    left: 7.7%;
    z-index: 2;
}

.main-airport-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin-top: 2%;
    margin-left: 52.5%;
    margin-bottom: 17%;
    color: #2C3135;
}

.heading-main-airport-text {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 36px;
    width: 350px;
    margin-bottom: 3%;
}

.sub-heading-main-airport-text {
    font-family: 'TeXGyreHeros', sans-serif;
    font-size: 20px;
    width: 350px;
    margin-bottom: 5%;
}

.main-airport-btn {
    text-decoration: none;
    width: 420px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #2C3135;
    border-radius: 3px;
    background-color: #E6DFD7;
    font-family: 'TeXGyreHeros', sans-serif;
    font-size: 18px;
    color: #A0A0A0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon-magnifier:before {
    content: url('../icons/magnifier.svg');
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

/* MAIN SERVICES */

.main-service {
    width: 100%;
    background-color: #E6DFD7;
}

.main-service-svg {
    display: flex;
    justify-content: flex-start;
    margin-left: 12.5%;
    margin-bottom: 4%;
}

.main-service-text {
    display: flex;
    justify-content: center;
    text-align: left;
    color: #323232;
    margin-bottom: 1%;
}

.heading-main-service {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 36px;
    text-transform: uppercase;
    width: 458px;
}

.sub-heading-main-service {
    font-family: 'TeXGyreHeros', sans-serif;
    font-size: 20px;
    width: 494px;
}

/* MAIN SERVICES items */

.main-service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
    margin-right: 1%;
}

.main-service-item {
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    width: 320px;
    height: 400px;
    overflow: hidden;
}

.main-service-item img {
    width: 100%;
    height: 100%;
    display: block;
}

.main-service-item-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(140, 157, 165, 0.75);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: translateX(-40%);
    transition: transform 0.5s ease;
}

.main-service-item:hover .main-service-item-overlay {
    transform: translateX(0);
}

.main-service-item-title {
    position: absolute;
    top: 15px;
    left: 10px;
    margin: 0;
    font: font-family: "Raleway", sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    color: #F4F3EF;
    text-align: justify;
    z-index: 10;
}

.main-service-item-description {
    font-family: 'TeXGyreHeros', sans-serif;
    font-size: 16px;
    color: #F4F3EF;
    text-align: justify;
    width: 291px;
    height: 66px;
    margin-top: 128px;
    margin-bottom: 125px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.main-service-item-btn {
    text-decoration: none;
    background-color: #F4F3EF;
    width: 235px;
    height: 57px;
    border: 1px solid transparent;
    border-radius: 3px;
    font-family: 'TeXGyreHeros', sans-serif;
    font-size: 16px;
    color: #8C9DA5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease, background-color 0.6s;
}

.main-service-item-btn:hover {
    background-color: #323232;
    color: #F4F3EF;
}

.main-service-item:hover .main-service-item-description,
.main-service-item:hover .main-service-item-btn {
    opacity: 1;
}

.main-service-btn {
    display: flex;
    justify-content: flex-start;
    margin-left: 41.2%;
    margin-top: 3%;
    margin-bottom: 6%;
}

.main-service-btn a {
    text-decoration: none;
    width: 320px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 1px 4px #2C3135;
    font-family: 'TeXGyreHeros', sans-serif;
    font-size: 16px;
    background-color: #2C3135;
    color: #F4F3EF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MAIN ABOUT */

.main-about {
    width: 100%;
    color: #323232;
    background-color: #F4F3EF;
}

.main-about-svg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 12.5%;
    margin-bottom: 0.5%;
}

.comfort {
    width: 685px;
    height: 68px;
    margin-bottom: 1%;
}

.sub-comfort {
    width: 496px;
    height: 39px;
    margin-left: 27%;
}

.main-about-heading {
    display: flex;
    justify-content: flex-start;
    margin-left: 12.5%;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.main-about-images {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 12.5%;
}

.main-about-image-plane {
    weight: 405px;
    height: 469px;
    position: absolute;
    top: 18vh;
    z-index: 1;
}

.main-about-image-woman {
    width: 405px;
    height: 481px;
    position: absolute;
    top: 9vh;
    left: 7.7%;
    z-index: 2;
}

.main-about-content {
    font-family: 'TeXGyreHeros', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 8%;
    margin-left: 57.5%;
    margin-bottom: 17%;
}

.main-about-text {
    width: 405px;
    margin-bottom: 50px;
}

.main-about-btn a {
    text-decoration: underline 1px rgba(244, 243, 239, 1);
    color: #323232;
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.main-about-btn a:hover {
    text-decoration-color: rgba(50, 50, 50, 1);
    text-underline-offset: 0.4em;
}

.icon-arrow-right-black:after {
    content: url('../icons/arrow-right-black.svg');
    padding-left: 20px;
}

.main-about-item-num {
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 80px;
}

.main-about-item-text {
    font-family: 'TeXGyreHeros', sans-serif;
    font-size: 20px;
}

.main-about-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1%;
    margin-bottom: 6%;
}

.main-about-item {
    margin-left: 5%;
    margin-right: 5%;
}

/* MEDIA Q&A */
.main-q-a-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.main-q-a {
    width: 100%;
    background-color: #E6DFD7;
}

.q-a-text {
    margin-top: 6%;
    margin-bottom: 3%;
}

/* MEDIA Q&A form */
.main-q-a-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4%;
}

.q-a-form {
    display: flex;
    flex-direction: column;
    width: 275px;
    padding: 40px 65px;
    background-color: #F4F3EF;
    border: 1px solid transparent;
    border-radius: 3px;
}

.q-a-form-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 17px;
}

.q-a-form-input input[type="text"],
.q-a-form-input input[type="tel"] {
    width: 275px;
    height: 52px;
    background-color: #E6DFD7;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 12px;
}

.long-input input[type="text"] {
    height: 89px;
}

.q-a-form-input input[type="text"]::placeholder,
.q-a-form-input input[type="tel"]::placeholder {
    padding-left: 10px;
}

.long-input input[type="text"]::placeholder {
    vertical-align: top;
    transform: translateY(-17px);
}

.q-a-form-btn button {
    font-family: 'TeXGyreHeros', sans-serif;
    font-size: 16px;
    color: #F4F3EF;
    width: 280px;
    height: 50px;
    background-color: #8C9DA5;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}

.icon_next_form:after {
    content: url('../icons/next.svg');
    padding-left: 5%;
}

.q-a-form-law {
    font-family: 'TeXGyreHeros', sans-serif;
    font-size: 12px;
    color: #2C3135;
    text-align: left;
    margin-top: 20px;
}

.underlined-info {
    text-decoration: underline;s
}

/* MEDIA Q&A items */

.main-q-a-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-q-a-item {
    width: 575px;
    font-family: 'TeXGyreHeros', sans-serif;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
    padding-left: 20px;
    overflow: hidden;
}

.main-q-a-item-question {
    position: relative;
    height: 46px;
    line-height: 46px;
    padding-left: 25px;
    background-color: #E6DFD7;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.main-q-a-item-question:hover {
    background-color: #F4F3EF;
}

.main-q-a-item-answer {
    width: 449px;
    padding-left: 25px;
    color: #A0A0A0;
    margin-top: 1%;
}

.icon-add img {
    transition: opacity 0.3s ease;
}

.icon-add,
.icon-multiply-hover {
    position: absolute;
    left: 520px;
    top: 15px;
}

.icon-add {
    opacity: 1;
}

.icon-multiply-hover {
    opacity: 0;
}

.main-q-a-item-question:hover .icon-add {
    opacity: 0;
}

.main-q-a-item-question:hover .icon-multiply-hover {
    opacity: 1;
}

.main-q-a-item-answer-overlay {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.main-q-a-item-question:hover .icon-add {
    opacity: 0;
}

.main-q-a-item-question:hover .icon-multiply-hover {
    opacity: 1;
}

/* MEDIA MAIN */

@media (min-width: 1400px) and (max-width: 1970px) {
    .main-airport-images {
        margin-left: 15%;
    }

    .main-airport-text {
        margin-left: 58%;
    }

    .main-service-items {
        margin-left: 7%;
        margin-right: 3%;
    }

    .main-service-svg,
    .main-about-svg,
    .main-about-heading,
    .main-about-images{
        margin-left: 15%;
    }

    .main-service-item {
        margin-top: 4%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .heading-main-service {
        margin-right: 7.3%;
    }

    .main-about-content {
        margin-bottom: 12%;
    }
}

@media (max-width: 1280px) {
    .btns-main {
        margin-left: 20%;
    }

    .main-airport-images {
        margin-left: 12.5%;
    }

    .main-airport-woman img {
        top: 11vh;
        left: 9%;
    }

    .main-airport-text {
        margin-left: 58%;
        margin-bottom: 21%;
    }

    .main-service-btn {
        display: flex;
        justify-content: flex-start;
        margin-left: 39.5%;
    }

    .sub-comfort {
        margin-left: 30%;
    }
}

@media (max-width: 1150px) {
    .logo-main a img {
        width: 80%;
        height: auto;
    }

    .btns-main {
        margin-right: 8%;
    }

    .btns-main a {
        width: 188px;
        height: 40px;
    }

    .first-heading {
        font-size: 76.8px;
        margin-left: 21%;
    }

    .second-heading {
        font-size: 28.8px;
        margin-right: 20%;
    }

    .cover {
        width: 100%;
    }

    .img-cover img {
        width: 100%;
        min-width: 800px;
    }

    .cover-items {
        font-size: 12.8px;
        margin-right: 2%;
    }

    .cover-item-caps {
        font-size: 16px;
    }

    .down-arrow img {
        width: 80%;
        height: auto;
    }

    .main-airport-svg-airport img {
        width: 599px;
    }

    .main-airport-svg-airport {
        margin-right: 8%;
    }

    .main-airport-plane img {
        width: 324px;
        height: 322px;
    }

    .main-airport-woman img {
        width: 324px;
        height: 312px;
    }

    .heading-main-airport-text {
        font-size: 29px;
        width: 280px;
    }

    .sub-heading-main-airport-text {
        font-size: 16px;
        width: 280px;
    }

    .main-airport-btn {
        width: 336px;
        height: 40px;
        line-height: 30px;
        font-size: 14px;
    }

    .icon-magnifier:before {
        width: 80%;
        height: auto;
    }

    .main-service-svg img,
    .main-about-svg img {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .logo-main a img {
        width: 60%;
        height: auto;
    }

    .btns-main a {
        width: 141px;
        height: 30px;
    }

    .first-heading {
        font-size: 57.6px;
    }

    .second-heading {
        font-size: 21.6px;
    }

    .cover-items {
        font-size: 9.6px;
        margin-right: 2%;
    }

    .cover-item-caps {
        font-size: 12px;
    }

    .down-arrow img {
        width: 60%;
        height: auto;
    }

    .main-airport-svg-airport img {
        width: 449.5px;
    }

    .main-airport-svg-airport {
        margin-right: 0%;
    }

    .main-airport-plane img {
        width: 243px;
        height: 242px;
    }

    .main-airport-woman img {
        width: 243px;
        height: 234px;
    }

    .heading-main-airport-text {
        font-size: 22px;
        width: 210px;
    }

    .sub-heading-main-airport-text {
        font-size: 12px;
        width: 210px;
    }

    .main-airport-btn {
        width: 252px;
        height: 30px;
        line-height: 30px;
        font-size: 11px;
    }

    .icon-magnifier:before {
        width: 60%;
        height: auto;
    }

    .main-service-svg img,
    .main-about-svg img {
        width: 60%;
        height: auto;
    }
}