{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'css/default_booking.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{% block title%}{% endblock title%}</title>
    {% block head %}

    {% endblock head %}
    <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.png' %}" />
</head>
<body>
    <nav>
        <div class="burgermenu" id="burgermenu">
            <ul class="burgermenu-list">
            <li><a href="{% url 'home' %}" class="burgermenu-item">
                <img style="margin: -5px; padding-right: 20px"
                     src="{% static 'icons/burger/home.svg' %}" alt="home">Главная</a><li>
            <li><a href="{% url 'airport_search' %}" class="burgermenu-item">
                <img style="margin: -5px; padding-right: 20px"
                     src="{% static 'icons/burger/airports.svg' %}" alt="airports">Аэропорты</a><li>
                <li><a href="#" class="burgermenu-item">
                <img style="margin: -5px; padding-right: 20px"
                     src="{% static 'icons/burger/exclusive.svg' %}" alt="exclusive">Услуги</a><li>
                <li><a href="{% url 'booking_form' %}" class="burgermenu-item">
                <img style="margin: -5px; padding-right: 20px"
                     src="{% static 'icons/burger/booking.svg' %}" alt="booking">Забронировать</a><li>
                <li><a href="#" class="burgermenu-item">
                <img style="margin: -5px; padding-right: 20px"
                     src="{% static 'icons/burger/company.svg' %}" alt="company">О компании</a><li>
                <li><a href="#" class="burgermenu-item">
                <img style="margin: -5px; padding-right: 20px"
                     src="{% static 'icons/burger/feedback.svg' %}" alt="feedback">Отзывы</a><li>
                <li><a href="#" class="burgermenu-item">
                <img style="margin: -5px; padding-right: 20px"
                     src="{% static 'icons/burger/contacts.svg' %}" alt="contacts">Контакты</a><li>
                <div class="burgermenu-item" style="padding: 5px; padding-left: 20px;"><p>Телефон </p>
                <p><img style="margin: -5px;"
                     src="{% static 'icons/burger/phone_with_number.svg' %}" alt="phone"></p></div>
            </ul>
        </div>
            <div class="menu">
                <ul>
                <li id="burgerbutton"><a href="#"><img src="{% static 'icons/menu.svg' %}" alt="menu"></a></li>
                <li><a href="#"><img src="{% static 'icons/whatsapp.svg' %}" alt="whatsapp"></a></li>
                <li><a href="#"><img src="{% static 'icons/mail.svg' %}" alt="mail"></a></li>
                <li><a href="#"><img src="{% static 'icons/telegram.svg' %}"  alt="telegram"></a></li>
                <li><a href="#"><img src="{% static 'icons/phone.svg' %}" alt="phone"></a></li>
                <li><a href="#"><img src="{% static 'icons/globe.svg' %}" alt="globe"></a></li>
                </ul>
        </div>
    </nav>

    <div class="header">
        {% block header %}
        {% endblock header %}
    </div>

    <div class="main">
        {% block content %}
        {% endblock content %}
    </div>

    {% block footer %}
    {% endblock footer %}
<script>
const burgerButton = document.getElementById('burgerbutton');
const burgerMenu = document.getElementById('burgermenu');

burgerButton.addEventListener('click', function() {
burgerMenu.classList.toggle('burgermenu_active')});
</script>
</body>
</html>