{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'css/default_booking.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{% block title%}{% endblock title%}</title>
    {% block head %}
    {% endblock head %}
</head>
<body>
    <nav>
        <div class="menu">
            <ul>
                <li><a href="#"><img src="{% static 'icons/menu.svg' %}" alt="menu"></a></li>
                <li><a href="#"><img src="{% static 'icons/whatsapp.svg' %}" alt="whatsapp"></a></li>
                <li><a href="#"><img src="{% static 'icons/mail.svg' %}" alt="mail"></a></li>
                <li><a href="#"><img src="{% static 'icons/telegram.svg' %}"  alt="telegram"></a></li>
                <li><a href="#"><img src="{% static 'icons/phone.svg' %}" alt="phone"></a></li>
                <li><a href="#"><img src="{% static 'icons/globe.svg' %}" alt="globe"></a></li>
            </ul>
        </div>
    </nav>

    <div class="header">
        {% block header %}
        {% endblock header %}
    </div>

    <div class="main">
        {% block content %}
        {% endblock content %}
    </div>

    {% block footer %}
    {% endblock footer %}
</body>
</html>