{% extends "flatpages/default.html" %}
{% load static %}
{% load i18n %}


{% block title %}
    Личный кабинет
{% endblock title %}

{% block head %}
    <style>
        body {
            background: url('{% static "images/account.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
<link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.png' %}" />
{% endblock head %}

{% block header %}
    <div class="logo" style="display: flex">
        <a href="{% url 'home' %}" style="width: 90%; margin-left: 5%">
            <img src="{% static 'icons/logo.svg' %}" alt="Logo"></a>

        <a href="/logout/" style="width: 10%">
            <img src="{% static 'icons/exit.svg' %}" style="stroke: #2C3135; height: 30px; width: 30px" alt="Logout"/></a>
    </div>
    <div class="sub_titles">
        <a href="{% url 'account' %}" class="sub sub-left active">Личная информация</a>
        <a href="{% url 'active_booking' %}" class="sub sub-center deactive">Текущие заказы</a>
        <a href="{% url 'booking_list' %}" class="sub sub-right deactive" >История бронирований</a>
    </div>
{% endblock header %}

{% block content %}
    <div class="account-row">
        <div class="avatar">
            <img src="{% static 'images/avatar.png' %}">
            <a href="{% url 'account_edit' %}" class="btn-avatar">Редактировать профиль</a>
        </div>
        <div class="account-general-info">
            {% if account.first_name and account.last_name %}
                <div class="account-name">{{ account.first_name }} {{ account.last_name }}</div>
            {% else %}
                <div class="account-name">Имя Фамилия</div>
            {% endif %}

            <div class="account-info">
                <div class="account-info-row">
                    <span class="account-info-field">Организация</span>
                    <span class="account-info-data">{{ account.organization }}</span>
                </div>
                <div class="account-info-row">
                    <span class="account-info-field">Почта</span>
                    <span class="account-info-data">{{ account.user.email }}</span>
                </div>
                <div class="account-info-row">
                    <span class="account-info-field">Телефон</span>
                    <span class="account-info-data">{{ account.phone }}</span>
                </div>
                <div class="account-info-row">
                    <span class="account-info-field-private">Личная информация</span>
                    <span class="account-info-data">{{ account.personal_information }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="btns-account">
        <a id="get-passenger" style="text-decoration: none" href="{% url 'passenger_list' %}" class="btn next icon_next">
           Пассажиры</a>
    </div>

    <div id="passenger-list-container"></div>
{% endblock content %}

{% block footer %}
    {% include 'flatpages/footer.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const passenger = document.getElementById('get-passenger');
        const passengerContainer = document.getElementById('passenger-list-container');

        passenger.addEventListener('click', function (e) {
            e.preventDefault();

            fetch("{% url 'passenger_list' %}")
                .then(response => response.text())
                .then(data => {
                    passengerContainer.innerHTML = data;
                })
                .catch(error => {
                    console.error('Error fetching the passenger list:', error);
                });
        });
    });
    </script>
{% endblock footer %}
