{% extends "flatpages/default.html" %}
{% load static %}
{% load i18n %}


{% block title %}
Airport Search
{% endblock title %}

{% block content %}
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Search</button>
    </form>

    {% if airport_search %}
        {% for airport in airport_search %}
            <p><a href="{% url 'airport_detail' airport.pk %}">
        <p>{{ airport.country }} -------- {{ airport.city }} -------- {{ airport.name }} </p>
    </a></p>

        {% endfor %}
    {% else %}
        <p>Ничего не найдено</p>
    {% endif %}

{% endblock content %}