{% extends "airport/default_airport.html" %}
{% load static %}
{% load i18n %}


{% block head %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/default_booking.css' %}">
    <style>
        body {
            background: url('{% static "images/booking_airport_form.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .main {
            margin-top: 9%;
        }

        .btns {
            margin-top: 15%;
        }

        .form-group {
            margin-bottom: 40px;
        }
    </style>
{% endblock head %}

{% block content %}
<h3>{{ airport.name }}</h3>
<p>{{ airport.city }} -- {{ airport.country }}</p>
<h5>Отправление:</h5>
<p>Один пассажир:</p>
<p>{{ departure_price_one_passenger }}</p>
<p>Последующие пассажиры:</p>
<p>{{ departure_price_others_passengers }}</p>
<br>
<h5>Прибытие:</h5>
<p>Один пассажир:</p>
<p>{{ arrival_price_one_passenger }}</p>
<p>Последующие пассажиры:</p>
<p>{{ arrival_price_others_passengers }}</p>
<br>
<h5>Транзит:</h5>
<p>Один пассажир:</p>
<p>{{ transit_price_one_passenger }}</p>
<p>Последующие пассажиры:</p>
<p>{{ transit_price_others_passengers }}</p>
<br>
<h5>Услуги:</h5>
<p>{{ service }}</p>
<br>
<h5>Дополнительная информация:</h5>
<p>{{ airport.additional_info }}</p>

{% endblock content %}