{% extends "airport/default_airport.html" %}
{% load static %}
{% load i18n %}


{% block head %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/default_booking.css' %}">
    <style>
        body {
            background: url('{% static "images/booking_airport_form.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .main {
            margin-top: 9%;
        }

        .btns {
            margin-top: 15%;
        }

        .form-group {
            margin-bottom: 40px;
        }
    </style>
{% endblock head %}

{% block content %}
<!-- list of countries with their airports -->
    {% for country in countries %}
        <p><b>{{ country.country }}</b></p>
        {% for airport in airports %}
            {% if country.country == airport.country %}
                <p><a href="{% url 'airport_detail' airport.pk %}">
        <p>{{ airport.name }}</p>
    </a></p>

            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock content %}