{% extends 'flatpages/default.html' %}

{% block title %}
Airport List
{% endblock title %}

{% block content %}
<!-- list of countries with their airports -->
    {% for country in countries %}
        <p><b>{{ country.country }}</b></p>
        {% for airport in airports %}
            {% if country.country == airport.country %}
                <p><a href="{% url 'airport_detail' 216 %}">
        <p>{{ airport.name }}</p>
    </a></p>

            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock content %}