{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'css/default_booking.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{% block title%}{% endblock title%}</title>
    {% block head %}
    {% endblock head %}
    <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.png' %}" />
</head>
<body>
    {% include 'flatpages/navigation.html' %}

    {% block header %}
        <div class="header">
            <div class="logo">
                <a href="{% url 'home' %}">
                <img src="{% static 'icons/logo.svg' %}" alt="Logo"></a>
            </div>

            <div class="sub_titles">
                <div id="sub_title_book">АЭРОПОРТЫ</div>
            </div>
        </div>
    {% endblock header %}


    <div class="main">
        {% block content %}
        {% endblock content %}
    </div>

    {% include 'flatpages/footer.html' %}
    {% block footer %}
    {% endblock footer %}
</body>
</html>