{% extends "booking/default_booking.html" %}
{% load static %}
{% load i18n %}


{% block head %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/default_booking.css' %}">
    <style>
        body {
            background: url('{% static "images/booking_page_2_3.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .main {
            margin-top: 7%;
        }

        .btns {
            margin-top: 5%;
        }

        .form-group {
            margin-bottom: 30px;
        }
    </style>
{% endblock head %}

{% block content %}
    <h2>Пассажиры </h2>
    {% for passenger in passengers %}
    <p>
        <a href="{% url 'passenger_detail' passenger.pk %}">{{ passenger }}</a>
        <a href="{% url 'passenger_edit' passenger.pk %}">
            <input type="button" value="Редактировать" />
        </a>
        <a href="{% url 'passenger_delete' passenger.pk %}">
            <input type="button" value="Удалить" />
        </a>
    </p>
    {% endfor %}
    <br>
<a href="{% url 'passenger_create' %}">
    <input type="button" value="Добавить пассажира">
</a>
    <hr>
{% endblock content %}

