{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'css/default_booking.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
        {% for passenger in passengers %}
            <div class="field-passenger">Пассажир</div>
            <div class="passenger-detail">
                <div class="passenger-name">
                <a href="{% url 'passenger_detail' passenger.pk %}">{{ passenger }}</a>
                </div>
                <a href="{% url 'passenger_delete' passenger.pk %}" class="delete-passenger">
                    <img src="{% static 'icons/recycle.svg' %}">
                </a>
            </div>
        {% endfor %}

        <div class="btn-new-passenger">
            <a href="{% url 'passenger_create' %}">
                <input type="button" value="Добавить пассажира + ">
            </a>
        </div>

</body>