{% extends "booking/default_booking.html" %}
{% load static %}
{% load i18n %}


{% block head %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/default_booking.css' %}">
    <style>
        body {
            background: url('{% static "images/booking_page_2_3.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .main {
            margin-top: 7%;
        }

        .btns {
            margin-top: 5%;
        }

        .form-group {
            margin-bottom: 30px;
        }
    </style>
{% endblock head %}

{% block content %}
    <h2>Удалить пассажира </h2>
    <form class="text-center" action="" method="post">
        {% csrf_token %}
        <p>Вы действительно хотите удалить пассажира?</p>
        <input type="submit" value="Удалить">
        <a href="{% url 'passenger_list' %}">
            <input type="button" value="Отмена" />
        </a>
    </form>
    <br>
    <hr>
{% endblock content %}

