{% extends "booking/default_booking.html" %}
{% load static %}
{% load i18n %}


{% block head %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/default_booking.css' %}">
    <style>
        body {
            background: url('{% static "images/booking_airport_form.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .main {
            margin-top: 2%;
        }

        .btns {
            margin-top: 15%;
        }

        .form-group {
            margin-bottom: 40px;
        }
    </style>
{% endblock head %}

{% block content %}
    <h2>Удалить пассажира </h2>
    <form class="booking_form" action="" method="post">
        {% csrf_token %}
        <p>Вы действительно хотите удалить пассажира?</p>
        <div class="btns">
        <input type="submit" class="btn previous" value="Удалить">
        <a style="text-decoration: none" href="{% url 'account' %}">
            <input type="button" class="btn next" value="Отмена" />
        </a>
        </div>
    </form>
    <br>
    <hr>
{% endblock content %}

