{% extends "flatpages/default.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    Passenger delete
{% endblock title %}

{% block content %}
    <h2>Удалить пассажира </h2>
    <form class="text-center" action="" method="post">
        {% csrf_token %}
        <p>Вы действительно хотите удалить пассажира?</p>
        <input type="submit" value="Удалить">
        <a href="{% url 'passenger_list' %}">
            <input type="button" value="Отмена" />
        </a>
    </form>
    <br>
    <hr>
{% endblock content %}

