{% extends "booking/default_booking.html" %}
{% load static %}
{% load i18n %}


{% block head %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/default_booking.css' %}">
    <style>
        body {
            background: url('{% static "images/account.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
{% endblock head %}

{% block content %}
    <h2>Пассажир </h2>
<div class="account-list" style="text-align: left">
    <p>Фамилия: {{ passenger.last_name }}</p>
    <p>Имя: {{ passenger.first_name }}</p>
    <p>Отчество: {{ passenger.middle_name }}</p>
    <p>Дата рождения: {{ passenger.birth_date }}</p>
    <p>Возраст: {{ passenger.age }}</p>
    <p>Email: {{ passenger.email }}</p>
    <p>Телефон: {{ passenger.phone }}</p>
    <p>Личная информация: {{ passenger.personal_data }}</p>
    <br>
</div>
<div class="btns-account" style="padding-left: 20%;">
    <a  style="text-decoration: none;" href="{% url 'passenger_edit' passenger.pk %}">
            <input type="button" class="btn previous icon_previous" value="Редактировать" />
        </a>
    <a style="text-decoration: none;" href="{% url 'passenger_delete' passenger.pk %}">
            <input type="button" class="btn previous icon_previous" style="text-decoration: none"value="Удалить" />
        </a>
    <a style="text-decoration: none;" href="{% url 'account' %}">
            <input type="button" class="btn previous icon_previous" style="text-decoration: none"value="Назад" />
        </a>
    <hr>
    </div>
{% endblock content %}
{% include 'flatpages/footer.html' %}

