{% block title %}
    Passenger
{% endblock title %}

{% block content %}
    <h2>Пассажир </h2>
    <p>Фамилия: {{ passenger.last_name }}</p>
    <p>Имя: {{ passenger.first_name }}</p>
    <p>Отчество: {{ passenger.middle_name }}</p>
    <p>Дата рождения: {{ passenger.birth_date }}</p>
    <p>Возраст: {{ passenger.age }}</p>
    <p>Email: {{ passenger.email }}</p>
    <p>Телефон: {{ passenger.phone }}</p>
    <p>Личная информация: {{ passenger.personal_data }}</p>
    <br>
    <a style="text-decoration: none" href="{% url 'passenger_edit' passenger.pk %}">
            <input type="button" value="Редактировать" />
        </a>
    <a href="{% url 'passenger_delete' passenger.pk %}">
            <input type="button" value="Удалить" />
        </a>
    <hr>
{% endblock content %}

