{% extends "booking/default_booking.html" %}
{% load static %}
{% load i18n %}


{% block head %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/default_booking.css' %}">
    <style>
        body {
            background: url('{% static "images/booking_page_2_3.png" %}');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .main {
            margin-top: 7%;
        }

        .btns {
            margin-top: 5%;
        }

        .form-group {
            margin-bottom: 30px;
        }
    </style>
{% endblock head %}

{% block content %}
    <h2>Пассажир </h2>
    <p>Фамилия: {{ passenger.last_name }}</p>
    <p>Имя: {{ passenger.first_name }}</p>
    <p>Отчество: {{ passenger.middle_name }}</p>
    <p>Дата рождения: {{ passenger.birth_date }}</p>
    <p>Возраст: {{ passenger.age }}</p>
    <p>Email: {{ passenger.email }}</p>
    <p>Телефон: {{ passenger.phone }}</p>
    <p>Личная информация: {{ passenger.personal_data }}</p>
    <br>
    <a style="text-decoration: none" href="{% url 'passenger_edit' passenger.pk %}">
            <input type="button" value="Редактировать" />
        </a>
    <a href="{% url 'passenger_delete' passenger.pk %}">
            <input type="button" value="Удалить" />
        </a>
    <hr>
{% endblock content %}

